<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
</head>
<body>
    @*<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="~/images/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Bootstrap
        </a>
    </nav>*@
    <div>
        @RenderBody()
    </div>
</body>
</html>
